.additionalProducts {
  margin-top: 10rem;
  margin-bottom: 8rem;
  font-family: auto;
  .additionalProducts--centerPart {
    .additionalProducts--centerPart--card {
      margin: auto;
      padding: 2rem 10rem;
      display: flex !important;
      text-align: center;
      align-items: center;
    }
  }
  .orangeImg {
    width: 100px;
    position: relative;
    right: 5px;
    bottom: 3rem;
    z-index: -1;
  }

  .blueImg {
    position: relative;
    top: 30rem;
    right: 1rem;
  }
  .yellowImg {
      width: 200px;
    float: right;
    margin-top: 13rem;
    margin-right: 1rem;
  }
}
