@import"../styles/colors";

.homePage {
  .homePage--innerDiv {
    margin: 3%;
    padding: 7%;
    padding-bottom: 15%;
    border-radius: 10px;
    .homePage--innerDiv--box {
      display: flex;
      margin: 0 10%;
        align-content: center;
        align-items: center;
      .homePage--innerDiv--box--find {
        background-color: rgb(254, 227, 205);
        color: black;
        text-align: center;
        width: 42%;
        padding: 1rem 5rem;
        border-radius: 10px;
        margin: 3rem;

        .homePage--innerDiv--box--find--btn {
          color: white;
          background-color: $orangeColor;
        }
      }
      .homePage--innerDiv--box--secure {
        background-color: rgb(205, 233, 254);
        color: black;
        text-align: center;
        width: 40%;
        padding: 1rem 2rem;
        border-radius: 10px;
      }
    }
    .homePage--innerDiv--header{
      font-family: 'Roboto Slab Bold',serif;
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      width: 60%;
      margin: auto;

      span{
        color: $orangeColor;
      }
    }
    .homePage--innerDiv--plain{
      // margin-left: 20rem;
      background-color: silver;
      padding: 5px;
      border-radius: 20px;
      width: 10%;
      margin: auto;
      margin-top: 5rem;

    }
  }
}
