@import"../styles/colors";

.img{
    border-top: 1px solid red;
    border-radius: 5px;
}

.turms {
  margin: 10rem 0;

  .turms--squreImg1 {
    position: relative;
    top: 7rem;
    right: 10px;
    margin-left: 0rem;
  }
  .turms--squreImg2 {
    // position: relative;
    float: right;
    margin-top: 17rem;
    margin-right: 2rem;
    width: 80px;
  }
  .turms--context{
      background-image: linear-gradient(rgb(35, 38, 41) 0%, rgb(82, 89, 96) 130%);
      margin: 0 3%;
      padding-top: 20rem;
      padding-bottom: 5rem;
      border-radius: 5px;
      .turms--context--img2{
          position: absolute;
          top: 140rem;
          right: 30rem;
          width: 600px;
          height: 650px;
        @extend .img;
      }
  }
}

