.buttonColor{
    color: "rgb(122, 167, 199)" !important;
    background-color: "rgb(225, 236, 244)";
  }



  .dot{
      font-size: 5px;
     border-radius: 50%; 
     padding: 0 3px;
     background-color: burlywood;
     margin-right: 3px;
  }
  .dot2{
    font-size: 5px;
    border-radius: 50%; 
    padding: 0 3px;
    background-color: gold;
    margin-right: 3px;
  }