.securityControl{
    background-image: url(../Images/lock2.png);
    background-size: cover;
    background-origin: inherit;
    background-origin: content-box;

  width: 90%;
  height: 100vh;
margin: auto;

}