@import "../styles/colors";

.about-miniNav{
    border-radius: 50px;
}
.about-miniNav:hover{
    background-color: silver; 

}

.miniNav1{
    background-color: rgba(255, 94, 0, 0.726);
    color: white;
}