.jobRoles--jobs{
    overflow: hidden;
    overflow-y: scroll;
}


.btns{
    position: relative;
    bottom: 5px;
}

.jobButtonColor{
    color: rgb(81, 160, 216)!important;
    background-color: rgb(225, 236, 244);
    font-size: 12px;
    margin: 2px;
    padding: 0 2px;
  }

.jobBTN{
    color: black;
    border-radius: 30px;
    font-size: 12px;
    padding: 3px 5px;
    &:hover{
        background-color: silver;
    }

}

.btn1{
    background-color: rgba(192, 192, 192, 0.438);
}