.btns{
    position: relative;
    bottom: 5px;
}

.jobButtonColor{
    color: rgb(81, 160, 216)!important;
    background-color: rgb(225, 236, 244);
    font-size: 12px;
    margin: 2px;
    padding: 0 2px;
  }