@import "./fontFamily";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

// .App-header {
//   font-family: "DollysFont";
// }
body{
  font-family: auto;
}
.search{
 color: rgba(102, 100, 100, 0.712);
  z-index: 1;
  position:absolute;
  margin-left: 5px;
}

